<div class="row-fluid">
    <div id="message-pane" class="col-md-10"></div>
    <div id="nick-pane" class="col-md-2"></div>
</div>
<div class="row-fluid">
    <div id="input-pane" class="col-md-12"></div>
</div>
