<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="chat-pane" class="span10"></div>
            <div id="nick-pane" class="span2"></div>
        </div>
        <div class="row-fluid">
            <input id="input-pane" class="span12">
        </div>
    </div>
</div>
