<div id="message-pane" class="col-xs-12 col-sm-9">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Nicks</button>
  </p>
</div>
<div id="nick-pane" class="col-xs-6 col-sm-3 sidebar-offcanvas"></div>
